/* Font Family Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
    /* font-family: "Poppins", sans-serif; */
    font-family: "Montserrat";
}

:root {
    --glow-rgb: 248 147 156;
}

.body-bg {
    background-position: center !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
}

.white-space-no-wrap {
    white-space: nowrap !important;
}

.theme_color_pink {
    color: #f8939c !important;
}

.theme_color_bg_pink {
    background-color: #f8939c !important;
}

.contact_us_btn {
    background-color: #f8939c !important;
    color: #ffffff !important;
}

.custom-nav-btn-width {
    width: 3vw !important;
}

.theme_color_blue {
    color: #37d0f2 !important;
}

.bg_theme_lgblue {
    background-color: #d9f8ff !important;
}

.color_peach {
    background-color: #fea967 !important;
    color: white !important;
}

.glow-point {
    position: absolute;
    box-shadow: 0rem 0rem 1.2rem 0.6rem rgb(var(--glow-rgb));
    pointer-events: none;
}

.star {
    position: absolute;
    z-index: 2;
    color: white;
    font-size: 1rem;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
    pointer-events: none;
}

.theme_color_bg_pink {
    background-color: #f8939c !important;
}

.contact_us_btn {
    background-color: #f8939c !important;
    color: #ffffff !important;
}

.nav-item.active > h5 > .nav-link {
    color: #f95e6c !important;
}

.custom-nav-btn-width {
    width: 3vw;
}

@keyframes fall-1 {
    0% {
        transform: translate(0px, 0px) rotateX(45deg) rotateY(30deg)
            rotateZ(0deg) scale(0.25);
        opacity: 0;
    }

    5% {
        transform: translate(10px, -10px) rotateX(45deg) rotateY(30deg)
            rotateZ(0deg) scale(1);
        opacity: 1;
    }

    100% {
        transform: translate(25px, 200px) rotateX(180deg) rotateY(270deg)
            rotateZ(90deg) scale(1);
        opacity: 0;
    }
}

@keyframes fall-2 {
    0% {
        transform: translate(0px, 0px) rotateX(-20deg) rotateY(10deg)
            scale(0.25);
        opacity: 0;
    }

    10% {
        transform: translate(-10px, -5px) rotateX(-20deg) rotateY(10deg)
            scale(1);
        opacity: 1;
    }

    100% {
        transform: translate(-10px, 160px) rotateX(-90deg) rotateY(45deg)
            scale(0.25);
        opacity: 0;
    }
}

@keyframes fall-3 {
    0% {
        transform: translate(0px, 0px) rotateX(0deg) rotateY(45deg) scale(0.5);
        opacity: 0;
    }

    15% {
        transform: translate(7px, 5px) rotateX(0deg) rotateY(45deg) scale(1);
        opacity: 1;
    }

    100% {
        transform: translate(20px, 120px) rotateX(-180deg) rotateY(-90deg)
            scale(0.5);
        opacity: 0;
    }
}

.responsive_font_footer {
    font-size: 1.15rem !important;
}

.copyright_footer {
    font-size: 1.25rem !important;
}

@media only screen and (max-width: 1024px) {
    .responsive_font_footer {
        font-size: 1.05rem !important;
    }

    .responsive_font_footer_2 {
        font-size: 1rem !important;
    }
}

@media only screen and (max-width: 768px) {
    .responsive_font_footer {
        font-size: 0.75rem !important;
    }

    .responsive_font_footer_2 {
        font-size: 0.7rem !important;
    }

    .copyright_footer {
        font-size: 1rem !important;
    }
}

@media only screen and (max-width: 576px) {
    .copyright_footer {
        font-size: 0.8rem !important;
    }
}

@media only screen and (max-width: 425px) {
    .copyright_footer {
        font-size: 0.6rem !important;
    }
}

.loader-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgb(247, 141, 150);
    display: block;
    padding: 0;
    margin: 0;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 141, 150);
    z-index: 10000;
}

.loader {
    width: 80px;
    height: 75px;
    --c: no-repeat radial-gradient(farthest-side, #f7b261 85%, #b97850, #0000);
    --b: no-repeat radial-gradient(farthest-side, #734b46 94%, #0000);
    --s: 8px 8px, 8px 8px, 8px 8px, 40px 40px;
    --e: 0 0, 0 0, 0 0, 0 0;
    background: var(--b) 55% 47%, var(--b) 60% 66%, var(--b) 37% 43%,
        var(--c) 50% 50%, var(--b) 15px 4px, var(--b) 4px 14px,
        var(--b) 27px 18px, var(--c) 0 0, var(--b) calc(100% - 15px) 4px,
        var(--b) calc(100% - 4px) 14px, var(--b) calc(100% - 27px) 18px,
        var(--c) 100% 0/40px 40px, var(--b) 24px 47px, var(--b) 50% 43px,
        var(--b) 60% 58px, var(--c) 50% 100%;
    animation: l5 2s linear infinite;
}

@keyframes l5 {
    0%,
    20% {
        background-size: var(--s), var(--s), var(--s), var(--s);
    }

    20.01%,
    40% {
        background-size: var(--e), var(--s), var(--s), var(--s);
    }

    40.01%,
    60% {
        background-size: var(--e), var(--e), var(--s), var(--s);
    }

    60.01%,
    80% {
        background-size: var(--e), var(--e), var(--e), var(--s);
    }

    80.01%,
    100% {
        background-size: var(--e), var(--e), var(--e), var(--e);
    }
}

.social_links_ff {
    position: fixed;
    top: 45%;
    right: 0;
    list-style: none;
    padding-left: 0;
    z-index: 9998;
    margin: 0;
    transition: right 0.25s ease-in-out;
    display: flex;
    flex-direction: column;
}
.custom_social_link_font_size{
    font-size: calc(1.275rem + .3vw) !important;
}
.social_links_ff li {
    padding: 0;
}
.social_links_ff li a {
    background: rgb(162, 161, 161);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 50px;
    height: 54px;
    transition: all 0.23s ease-in-out;
    float: right;
    padding-left: 5px;
    text-decoration: none !important;
}
.social_links_ff li a:hover {
    width: 55px;
    padding-left: 0;
    text-decoration: none;
    background-color: #f8939c !important;
}
@media only screen and (max-width: 375px) {
    .social_links_ff li a {
        width: 40px;
        height: 40px;
    }
    .custom_social_link_font_size{
        font-size: 1rem !important;
    }
    .social_links_ff li a:hover {
        width: 47px;
    }
}
#last_social_link {
    border-bottom-left-radius: 45%;
}
#first_social_link {
    border-top-left-radius: 45%;
}

.ff_comfortaa_new {
    font-family: emoji !important;
}
